<ion-card>
  <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fbusiness.facebook.com%2Fbdeinfirmier.nice%2F&psig=AOvVaw1SZIiORDPkm6wukuBxQx_g&ust=1631965765719000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCKielLD4hfMCFQAAAAAdAAAAABAD" />
  <ion-card-header>
    <ion-card-subtitle>Destination</ion-card-subtitle>
    <ion-card-title>Madison, WI</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
  </ion-card-content>
</ion-card>
